Ferc549DXmlFillPDF/Resources/form-549d.xsd

<?xml version="1.0"?>
<xs:schema xmlns="http://ferc.gov/549D.xsd" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           elementFormDefault="qualified" 
           targetNamespace="http://ferc.gov/549D.xsd">
    <xs:element name="form1">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="RESPONDENT">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ResData">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="RHeader"/>
                                        <xs:element name="Row1">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="CID_CompanyName" type="xs:string" nillable="true"/>
                                                    <xs:element name="CID_ContactEmail" type="xs:string" nillable="true"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Row2">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="CID_Company_ID" type="xs:string" nillable="true"/>
                                                    <xs:element name="CID_ContactStreetAddress" type="xs:string" nillable="true"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Row3">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="CID_Orgin_Resubmit" type="xs:string" nillable="true"/>
                                                    <xs:element name="CID_ContactCity" type="xs:string" nillable="true"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Row3a">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="CID_Resubmit_Expln" type="xs:string" nillable="true"/>
                                                    <xs:element name="CID_ContactState" type="xs:string" nillable="true"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Row4">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="CID_SubmitDate" type="xs:date" nillable="true"/>
                                                    <xs:element name="CID_ContactZip" type="xs:string" nillable="true"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Row5">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="CID_Transport_Y_N" type="xs:string" nillable="true"/>
                                                    <xs:element name="CID_ContactCountry" type="xs:string" nillable="true"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Row6">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="CID_Filing_Qtr" type="xs:string" nillable="true"/>
                                                    <xs:element name="CID_ContactSignTitle" type="xs:string" nillable="true"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Row7">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="CID_ContactName" type="xs:string" nillable="true"/>
                                                    <xs:element name="CID_ContactSignName" type="xs:string" nillable="true"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Row8">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="CID_ContactTitle" type="xs:string" nillable="true"/>
                                                    <xs:element name="CID_ContactSignDate" type="xs:date" nillable="true"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Row9">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="CID_ContactPhone" type="xs:string" nillable="true"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <!--
This is a calculated field for Form header=Filing Quarter.  
-->
                            <xs:element name="TextField" type="xs:string"/>
                            <!-- The FormNo value is 549D. -->
                            <xs:element name="FormNo" type="xs:string" default="549D"/>
                            <!--  The OMBNo value is 1902-0253.  -->
                            <xs:element name="OMBNo" type="xs:string" default="1902-0253"/>
                            <!--  The Version value is 1.  -->
                            <xs:element name="Version" type="xs:string" default="1"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="SHIPDATA">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="SDSet">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="SHIPPER">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="S_Header"/>
                                                    <xs:element name="S_Data">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="SD_Name" type="xs:string" nillable="true"/>
                                                                <xs:element name="SD_ID_No" type="xs:string" nillable="true"/>
                                                                <xs:element name="SD_Affilite_Y_N" type="xs:string" nillable="true"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="CONTRACT">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="C_Data_Row1">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="SD_Contract_No" type="xs:string" nillable="true"/>
                                                                <xs:element name="SD_Firm_Inter" type="xs:string" nillable="true"/>
                                                                <xs:element name="SD_Contract_BegDate" type="xs:string" nillable="true"/>
                                                                <xs:element name="SD_Contract_EndDate" type="xs:string" nillable="true"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="SERVICE">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Row1"/>
                                                    <xs:element name="Row3">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="SD_TypeService" type="xs:string" nillable="true"/>
                                                                <xs:element name="SD_ReceiptPt_CCode" type="xs:string" nillable="true"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="Row4">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="SD_TypeService_Other" type="xs:string" nillable="true"/>
                                                                <xs:element name="SD_ReceiptPt_CCode-Add" type="xs:string" nillable="true"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="Row5">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="SD_RateSched" type="xs:string" nillable="true"/>
                                                                <xs:element name="SD_DeliveryPt_Name" type="xs:string" nillable="true"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="Row6">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="SD_RateDocket" type="xs:string" nillable="true"/>
                                                                <xs:element name="SD_DeliveryPt_Name-Add" type="xs:string" nillable="true"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="Row7">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="SD_ReceiptPt_Name" type="xs:string" nillable="true"/>
                                                                <xs:element name="SD_DeliveryPt_CCode" type="xs:string" nillable="true"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="Row8">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="SD_ReceiptPt_Name-Add" type="xs:string" nillable="true"/>
                                                                <xs:element name="SD_DeliveryPt_CCode-Add" type="xs:string" nillable="true"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="RATES">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Row2"/>
                                                    <xs:element name="Row3">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="RRes_Peak" type="xs:decimal" nillable="true"/>
                                                                <xs:element name="RUse_Inj_Unit" type="xs:string" nillable="true"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="Row4">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="RRes_Peak_Discount" type="xs:string" nillable="true"/>
                                                                <xs:element name="RUse_Withdraw" type="xs:decimal" nillable="true"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="Row5">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="RRes_Peak_Unit" type="xs:string" nillable="true"/>
                                                                <xs:element name="RUse_Withdraw_Discount" type="xs:string" nillable="true"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="Row6">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="RRes_Annual" type="xs:decimal" nillable="true"/>
                                                                <xs:element name="RUse_Withdraw_Unit" type="xs:string" nillable="true"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="Row7">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="RRes_Annual_Discount" type="xs:string" nillable="true"/>
                                                                <xs:element name="RUse_Park_First" type="xs:decimal" nillable="true"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="Row8">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="RRes_Annual_Unit" type="xs:string" nillable="true"/>
                                                                <xs:element name="RUse_Park_First_Discount" type="xs:string" nillable="true"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="Row9">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="RUse_Transport" type="xs:decimal" nillable="true"/>
                                                                <xs:element name="RUse_Park_Second" type="xs:decimal" nillable="true"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="Row10">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="RUse_Transport_Discount" type="xs:string" nillable="true"/>
                                                                <xs:element name="RUse_Park_Second_Discount" type="xs:string" nillable="true"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="Row11">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="RUse_Transport_Unit" type="xs:string" nillable="true"/>
                                                                <xs:element name="RUse_Park_Unit" type="xs:string" nillable="true"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="Row12">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="RUse_Inj" type="xs:decimal" nillable="true"/>
                                                                <xs:element name="RUse_Other" type="xs:string" nillable="true"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="Row13">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="RUse_Inj_Discount" type="xs:string" nillable="true"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="PageHeader2">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="S_Header"/>
                                                    <xs:element name="S_Data">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="SD_Name" type="xs:string" nillable="true"/>
                                                                <xs:element name="SD_Contract_No" type="xs:string" nillable="true"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="BILLING">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Row2"/>
                                                    <xs:element name="Row3">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="BURes_Peak" type="xs:decimal" nillable="true"/>
                                                                <xs:element name="BUUse_Inj_Unit" type="xs:string" nillable="true"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="Row4">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="BURes_Peak_Unit" type="xs:string" nillable="true"/>
                                                                <xs:element name="BUUse_Withdraw" type="xs:decimal" nillable="true"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="Row5">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="BURes_Annual" type="xs:decimal" nillable="true"/>
                                                                <xs:element name="BUUse_Withdraw_Unit" type="xs:string" nillable="true"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="Row6">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="BURes_Annual_Unit" type="xs:string" nillable="true"/>
                                                                <xs:element name="BUUse_Park_First" type="xs:decimal" nillable="true"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="Row7">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="BUUse_Transport" type="xs:decimal" nillable="true"/>
                                                                <xs:element name="BUUse_Park_Second" type="xs:decimal" nillable="true"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="Row8">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="BUUse_Transport_Unit" type="xs:string" nillable="true"/>
                                                                <xs:element name="BUUse_Park_Unit" type="xs:string" nillable="true"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="Row9">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="BUUse_Inj" type="xs:decimal" nillable="true"/>
                                                                <xs:element name="BUUse_Other" type="xs:string" nillable="true"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="REVENUE">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Row2"/>
                                                    <xs:element name="Row3">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="RevRes_Peak" type="xs:long" nillable="true"/>
                                                                <xs:element name="RevUse_Other" type="xs:long" nillable="true"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="Row4">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="RevRes_Annual" type="xs:long" nillable="true"/>
                                                                <xs:element name="Rev_GrandTotal" type="xs:long" nillable="true"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="Row5">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="RevUse_Transport" type="xs:long" nillable="true"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
